body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
   
}

*{
    margin: 0;
}


.modalTask {

    background-color: cornflowerblue;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 50px;
    display: none;
    
}

.modalTask input, label {
    display: block;
}

.modalTask label {
    margin-bottom: 20px;
}

.modalProject {
    display: none;
}